// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

/*


	Defines


*/

$balanced: #76C103 !default;
$assertive: #ef473a !default;

$balancedBorder: #498F24;

$errorBg: #FFDFDF;
$greyDark: #777;
$greyMed: #aaaaaa;
$greyLight: #e0e0e0;

/*




	Generic




*/

/*
 * Maps
*/
.map-wrapper {
	height: 100%;
	padding-top: 43px;
	padding-bottom: 43px;
}

#map {
	width: 100%;
	height: 100%;
}

/*



	Form Styling



*/
form {
	label.form-group.has-error {
		//border-bottom: 2px solid $assertive;
		//margin-bottom: 1px;
		background: $errorBg;
	}

	span.error-msg {
		display: inline-block;
		color: $assertive;
		font-size: 12px;
		padding-right: 15px;
	}

	.form-error {
		text-align: center;
		font-weight: 700;
		color: $assertive;
		background: $errorBg;
		padding: 10px;
	}
	.form-success {
		text-align: center;
		font-weight: 700;
		color: #fff;
		background: $balanced;
		padding: 10px;
	}
}

/*


	No Data


*/
.no-data-wrapper {

	padding: 120px 30px 20px;
	text-align: center;

	.icon-top {
		color: $greyLight;
		font-size: 120px;
		line-height: 120px;
	}

	h3 {
		color: $greyMed;
		font-weight: 300;
		margin-top: 28px;
		margin-bottom: 20px;
	}
	h4 {
		color: $greyMed;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.4em;
	}
	p {
		color: $greyMed;
	}
	a {
		color: $greyMed;
		text-decoration: underline;
	}
	button {
		margin-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}



