<div class="list rota-edit">

	<div class="item-divider item">Rota</div>

	<label class="item item-input">
		<div class="input-label">
			Rota Name
		</div>
		<input type="text"
			   class="text-right"
			   placeholder="Rota Name"
			   ng-model="vm.rota.label"/>
	</label>

	<label class="item item-input">
		<div class="input-label">
			Rota Hours
		</div>
		<input type="number"
			   class="text-right"
			   ng-model="vm.rota.hours"/>
	</label>

	<label class="item item-input item-select">
		<div class="input-label">
			Banding
		</div>
		<select ng-model="vm.rota.banding"
				ng-options="item.value as item.name for item in vm.BANDING"
				convert-to-number>
		</select>
	</label>

	<div class="item item-divider">
		<span class="pull-right divider-button"
			  ng-click="vm.addLocation()">Add</span>
		Locations
	</div>

	<ion-list>
		<ion-item class="item-icon-right"
				  ng-repeat="location in vm.locations | filter: {archived: false}:strict"
				  ng-click="vm.editLocation(location)">
			Location {{$index + 1}}
			<i class="icon ion-ios-arrow-forward"></i>

			<ion-option-button class="button-assertive"
							   ng-click="vm.deleteLocation(location,$event)">
				Delete
			</ion-option-button>

		</ion-item>
	</ion-list>

	<div class="item-divider item">NHS Details</div>

	<a class="item"
	   href="#"
	   ng-click="vm.selectSpeciality($event)">
		Speciality
				<span class="item-note">
					<span ng-if="vm.speciality.title">
						{{vm.speciality.title}}
					</span>
					<span ng-if="!vm.speciality.title">Please Select</span>
				</span>
	</a>
	<a class="item"
	   href="#"
	   ng-click="vm.selectRole($event)">
		Role
				<span class="item-note">
					<span ng-if="vm.role.title">
						{{vm.role.title}}
					</span>
					<span ng-if="!vm.role.title">Please Select</span>
				</span>
	</a>

	<a class="item"
	   href="#"
	   ng-click="vm.selectOrganisation($event)">
		Organisation
				<span class="item-note item-text-wrap">
					<span ng-if="vm.organisation.name">
						{{vm.organisation.name | limitTo: 40 | capitalize: true }}<span
							ng-if="vm.organisation.name.length > 40">...</span>
					</span>
					<span ng-if="!vm.organisation.name">Please Select</span>
				</span>
	</a>

	<!--

		Only Display if editing

	-->
	<div ng-if="vm.edit">

		<div class="item-divider item">Rotation Dates</div>

		<a class="item"
		   href="#"
		   ng-click="vm.selectStart($event)">
			Start Date
			<span class="item-note">
				{{ vm.rota.dateStart | date : "dd MMM yy"}}
			</span>
		</a>
		<a class="item"
		   ng-class="{'item-icon-right': vm.rota.dateEnd}"
		   href="#"
		   ng-click="vm.selectEnd($event)">
			End Date
			<i class="icon fa fa-times-circle"
			   ng-show="vm.rota.dateEnd"
			   aria-hidden="true"
			   ng-click="vm.rota.dateEnd = null; $event.stopPropagation();"></i>
				<span class="item-note">
					{{(vm.rota.dateEnd | date : 'dd MMM yy' ) || 'Indefinite'}}
				</span>

		</a>


		<div class="item-divider item">Settings</div>

		<div class="item item-input">
			<label>Default Shift Length (hours)</label>
			<input type="number"
				   class="text-right"
				   ng-model="vm.rota.defaultShiftLength"/>

		</div>

		<div class="item item-input">
			<label>
				Minimum Time to Track (min)
			</label>
			<input type="tel"
				   class="text-right"
				   ng-model="vm.rota.minimumTime"/>
		</div>

		<div class="item item-input">
			<label>
				Adjust Shift Start (min)
			</label>
			<input type="tel"
				   class="text-right"
				   ng-model="vm.rota.adjustShiftStart"/>
		</div>

		<div class="item item-input">
			<label>
				Adjust Shift End (min)
			</label>
			<input type="tel"
				   class="text-right"
				   ng-model="vm.rota.adjustShiftEnd"/>
		</div>


	</div>

</div>