<div class="list rota-edit">

	<div class="item-divider item">Rota</div>

	<label class="item item-input">
		<div class="input-label">
			Rota Name
		</div>
		<input type="text"
			   class="text-right"
			   placeholder="Rota Name"
			   ng-model="vm.rota.label"
			   focus-me/>
	</label>

	<label class="item item-input item-select">
		<div class="input-label">
			Banding
		</div>
		<select ng-model="vm.rota.banding"
				ng-options="item.value as item.name for item in vm.BANDING"
				convert-to-number>
		</select>
	</label>

	<label class="item item-input">
		<div class="input-label">
			Rota Hours
		</div>
		<input type="number"
			   class="text-right"
			   ng-model="vm.rota.hours"/>
	</label>

	<div class="item-divider item">Job Details</div>

	<a class="item"
	   href="#"
	   ng-click="vm.selectSpeciality($event)">
		Speciality
				<span class="item-note">
					<span ng-if="vm.speciality.title">
						{{vm.speciality.title}}
					</span>
					<span ng-if="!vm.speciality.title">Please Select</span>
				</span>
	</a>
	<a class="item"
	   href="#"
	   ng-click="vm.selectRole($event)">
		Role
				<span class="item-note">
					<span ng-if="vm.role.title">
						{{vm.role.title}}
					</span>
					<span ng-if="!vm.role.title">Please Select</span>
				</span>
	</a>

	<a class="item"
	   href="#"
	   ng-click="vm.selectOrganisation($event)">
		Organisation
				<span class="item-note">
					<span ng-if="vm.organisation.name">
						{{vm.organisation.name}}
					</span>
					<span ng-if="!vm.organisation.name">Please Select</span>
				</span>
	</a>

	<div class="item-divider item">Rotation Dates</div>

	<a class="item"
	   href="#"
	   ng-click="vm.selectStart($event)">
		Start Date
				<span class="item-note">
					{{ vm.rota.dateStart | date : "dd MMM yy"}}
				</span>
	</a>
	<a class="item"
	   ng-class="{'item-icon-right': vm.rota.dateEnd}"
	   href="#"
	   ng-if="vm.edit"
	   ng-click="vm.selectEnd($event)">
		End Date
		<i class="icon fa fa-times-circle"
		   ng-show="vm.rota.dateEnd"
		   aria-hidden="true"
		   ng-click="vm.rota.dateEnd = null; $event.stopPropagation();"></i>
				<span class="item-note">
					{{(vm.rota.dateEnd | date : 'dd MMM yy' ) || 'Indefinite'}}
				</span>

	</a>

</div>