<ion-view class=""
		  hide-back-button="true"
		  cache-view="false">

	<ion-nav-title>My SafeRotas</ion-nav-title>

	<ion-nav-buttons side="primary">
		<button class="button" ng-click="vm.sync()">
			Sync
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="secondary">
		<button class="button"
				ng-click="vm.add()"
				nav-direction="enter">
			Add
		</button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item ng-repeat="rota in vm.rotas"
					  class="item-icon-left">

				<i class="icon ion-ios-navigate-outline"></i>

				<h2>{{rota.label || "Rota " + ($index + 1)}}</h2>
				<p>Monitoring Paused</p>
				<ion-option-button class="button-positive"
								   ng-click="vm.edit(rota)">
					Edit
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
