<ion-view class=""
		  hide-back-button="true">

	<ion-nav-title>My SafeRotas</ion-nav-title>

	<ion-nav-buttons side="primary">
		<button class="button button-clear"
				ng-click="vm.settings()">
			<i class="icon ion-ios-gear"></i>
		</button>

		<!--<button class="button button-clear"-->
		<!--ng-click="vm._testGeofenceService()">-->
		<!--<i class="icon ion-help-buoy"></i>-->
		<!--</button>-->

	</ion-nav-buttons>

	<ion-nav-buttons side="secondary">
		<button class="button button-clear"
				ui-sref="app.new">
			New Rota
		</button>
	</ion-nav-buttons>
	<ion-content>

		<div class="no-data-wrapper"
			 ng-if="vm.rotas.length < 1 && !vm.loading"
			 ui-sref="app.new">
			<div class="icon-top ion-plus-circled"></div>
			<h3>Create SafeRota</h3>
			<h4>Tap to add your first rota</h4>
		</div>

		<ion-list>
			<ion-item ng-repeat="rota in vm.rotas"
					  ng-click="vm.selectRota(rota)"
					  class="item-icon-left list-animate">

				<i ng-if="vm.isActive(rota)"
				   class="icon ion-ios-navigate"></i>
				<i ng-if="!vm.isActive(rota)"
				   class="icon ion-ios-navigate-outline"></i>

				<h2>{{rota.label || "Rota " + ($index + 1)}}</h2>

				<p>
					<span ng-if="vm.isActive(rota)"> Active</span>
					<span ng-if="!vm.isActive(rota)"> Inactive</span>
				</p>

				<ion-option-button class="button-energized"
								   ng-click="vm.archive(rota)">
					Archive
				</ion-option-button>
				<ion-option-button class="button-positive"
								   ng-click="vm.edit(rota)">
					Edit Rota
				</ion-option-button>

				<ion-option-button class="button-assertive"
								   ng-if="!vm.isActive(rota)"
								   ng-click="vm.activate(rota,$event)">
					Activate
				</ion-option-button>
				<ion-option-button class="button-assertive"
								   ng-if="vm.isActive(rota)"
								   ng-click="vm.deactivate(rota,$event)">
					Deactivate
				</ion-option-button>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
