<ion-modal-view ng-controller="SettingsController as vm">
	<ion-header-bar class="bar-balanced">
		<h1 class="title">Settings</h1>
		<button class="button button-clear button-primary" ng-click="hide()">Close</button>
	</ion-header-bar>
	<ion-content class="extra-padding-bottom">

		<!-- Account Settings -->
		<div class="card">
			<div class="item item-divider">
				Your Account
			</div>
			<div class="item text-wrap">
				<p>Email: {{vm.user.email}} </p>
			</div>
			<div class="item">
				<div class="row">
					<div class="col">
						<a class="button button-stable button-outline button-block">Edit Password</a>
					</div>
					<div class="col">
						<a class="button button-stable button-outline button-block"
						   ng-click="vm.sync()">
							Sync Now
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<a class="button button-assertive button-outline button-block"
						   ng-click="vm.refresh()">
							Fresh Sync
						</a>
					</div>
					<div class="col">
						<a class="button button-assertive button-outline button-block"
						   ng-click="vm.logout(hide)">Logout</a>
					</div>
				</div>

			</div>
			<div class="item">
				<a class="button button-stable button-outline button-block"
				   ng-click="vm.deactivateAll()">
					Deactivate All Rotas
				</a>
			</div>
		</div>

		<!-- Rota Settings -->
		<div class="card">
			<div class="item item-divider">
				Help &amp; Support
			</div>
			<div class="item">
				<div class="row">
					<div class="col">
						<button class="button button-stable button-outline button-block"
						   ng-click="vm.playTour()">Replay Tour</button>
					</div>
					<div class="col">
						<button class="button button-stable button-outline button-block"
								ng-click="vm.showTerms()">Terms
						</button>

					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="button button-stable button-outline button-block"
								ng-click="vm.support()">Email Support
						</button>
					</div>
				</div>
			</div>

		</div>


	</ion-content>
</ion-modal-view>