/*


	Auth Module Styling


*/
.auth{
	img.logo{
		width: 100%;

		margin: 50px auto 50px;
		max-width: 400px;
		max-height: 240px;
		height: auto;
	}

	.list{
		.item:first-child{
			border-top: none !important;
		}
	}

	&.signup{
		.terms-and-conditions{
			label.item{
				border:none;
				font-size: 13px;
			}
		}
		.signup button{
			margin-top: 0;
		}

	}

}
