<ion-view class="auth login"
		  ng-controller="LoginController as vm">
	<ion-nav-title>Login</ion-nav-title>
	<ion-content>

		<!-- LOGO -->
		<img src="img/auth/auth-logo.png" title="Logo" class="logo"/>

		<!-- FORM -->
		<form method="post"
			  name="loginForm"
			  ng-submit="vm.login(loginForm)"
			  novalidate="">

			<div class="form-error"
				 ng-if="vm.error">
				{{vm.error}}
			</div>

			<div class="list">
				<label class="item item-input form-group">
					<input type="email"
						   placeholder="Email"
						   ng-model="vm.email"
						   email-err-type="authEmail"
						   required-err-type="authRequired"
						   required>
				</label>
				<label class="item item-input form-group">
					<input type="password"
						   placeholder="Password"
						   ng-model="vm.password"
						   required-err-type="authRequired"
						   required>
				</label>
			</div>

			<div class="padding-horizontal padding-top">

				<button class="button button-balanced button-full"
						type="submit"
						ladda="vm.loading">Login
				</button>
			</div>
		</form>

		<div class="row">
			<div class="col">
				<button class="button button-subtle button-outline button-block"
						ng-click="vm.signup()">Sign Up Now
				</button>
			</div>
			<div class="col">
				<button class="button button-subtle button-outline button-block"
						ng-click="vm.resetPassword()">Forgot Password?
				</button>
			</div>
		</div>

	</ion-content>


</ion-view>