<ion-view class="auth login"
		  ng-controller="ResetPasswordController as vm"
		  cache-view="false">
	<ion-nav-title>Reset Password</ion-nav-title>
	<ion-content>

		<!-- LOGO -->
		<img src="img/auth/auth-logo.png" title="Logo" class="logo"/>

		<!-- FORM -->
		<form method="post"
			  name="resetPasswordForm"
			  ng-submit="vm.resetPassword(resetPasswordForm)"
			  novalidate="">

			<div class="form-error"
				 ng-if="vm.error">
				{{vm.error}}
			</div>
			<div class="form-success"
				 ng-if="vm.success">
				{{vm.success}}
			</div>

			<div class="list">
				<label class="item item-input form-group">
					<input type="email"
						   placeholder="Email"
						   ng-model="vm.email"
						   email-err-type="authEmail"
						   required-err-type="authRequired"
						   required>
				</label>
			</div>

			<div class="padding-horizontal padding-top">

				<button class="button button-balanced button-full"
						type="submit"
						ladda="vm.loading">Reset Password
				</button>
			</div>
		</form>

		<div class="padding">
			<button class="button button-light button-full"
					ng-click="vm.login()">Back to Login
			</button>

		</div>

	</ion-content>


</ion-view>