<ion-view class="auth signup"
		  ng-controller="SignupController as vm"
		  hide-back-button="true"
		  cache-view="false">
	<ion-nav-title>Sign Up</ion-nav-title>
	<ion-content>

		<!-- LOGO -->
		<div class="text-center">
			<img src="img/auth/auth-logo@2x.png" title="Logo" class="logo"/>
		</div>
		<!-- FORM -->
		<form method="post"
			  name="signupForm"
			  ng-submit="vm.signup(signupForm)"
			  novalidate="">

			<div class="form-error"
				 ng-if="vm.error">
				{{vm.error}}
			</div>


			<div class="list">
				<label class="item item-input form-group">
					<input type="text"
						   placeholder="Full Name"
						   ng-model="vm.name"
						   ng-model-options="{updateOn:'blur'}"
						   required-err-type="authRequired"
						   required>
				</label>
				<label class="item item-input form-group">
					<input type="email"
						   placeholder="Email"
						   ng-model="vm.email"
						   ng-model-options="{updateOn:'blur'}"
						   email-err-type="authEmail"
						   required-err-type="authRequired"
						   required>
				</label>
				<label class="item item-input form-group">
					<input type="password"
						   placeholder="Password"
						   ng-model="vm.password"
						   ng-minlength="6"
						   ng-model-options="{updateOn:'blur'}"
						   ng-minlength-err-type="authMinLength"
						   required-err-type="authRequired"
						   required>
				</label>
			</div>


			<div class="padding terms-and-conditions text-center"
				 ng-click="vm.showTerms()">
				By registering, you agree to our terms and conditions
			</div>
			<div class="padding-horizontal signup">
				<button class="button button-balanced button-full"
						type="submit">Register
				</button>
			</div>
		</form>

		<div class="login padding">
			<button class="button button-light button-full"
					ui-sref="auth.login">I have an account - Login
			</button>

		</div>

	</ion-content>


</ion-view>