<ion-view class="rota-new rota-new-complete" hide-back-button="true">
	<ion-nav-title>SafeRota Created!</ion-nav-title>
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="vm.close()">Done</button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="no-data-wrapper">
			<div class="icon-top ion-checkmark-circled"></div>
			<h3>Your first rota is now setup!</h3>
			<h4>Saferota will track your shifts and start to generate statistics over the coming weeks.</h4>
			<button class="button-block button button-balanced"
					ng-click="vm.close()">
				Start Tracking
			</button>
		</div>
	</ion-content>
</ion-view>