<ion-view class="rota-share">
	<ion-nav-title ng-click="vm.change()">
		<i class="icon ion-arrow-swap"></i>
		{{vm.rota.label}}
	</ion-nav-title>

	<ion-content class="text-center padding">
		<div class="icon-top ion-ios-people"></div>
		<h3>Team Rotas Coming Soon</h3>
		<p><strong>Help us improve patient safety</strong><br/> by sharing with your colleagues.</p>
		<button class="button button-balanced icon-right ion-ios-upload-outline"
				ng-click="vm.share()">Share &nbsp;</button>
	</ion-content>
</ion-view>