<ion-view class="log-edit">
	<ion-nav-title>Edit Log</ion-nav-title>
	<ion-nav-buttons side="secondary">
		<!--<button class="button" ng-click="vm.timespan.unresolvedError = true;">Error</button>-->
		<button class="button button-clear" ng-click="vm.save()">Save</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="duration">
			<i class="icon ion-ios-clock-outline"></i>
			<span ng-bind-html="vm.timespan.duration | formatHoursMinutes"></span>
		</div>

		<div class="row">
			<div class="col">
				<div class="date-item">
					<div class="header">IN</div>
					<div class="time"
						 ng-click="vm.editEnterTime()">
						{{vm.timespan.enter | date:"HH:mm"}}
					</div>
					<div class="date"
						 ng-click="vm.editEnterDate()">
						{{vm.moment(vm.timespan.enter).format('dddd Do')}}<br/>
						{{vm.timespan.enter | date : 'MMM yyyy'}}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="date-item">
					<div class="header">OUT</div>
					<div class="time"
						 ng-click="vm.editExitTime()">
						{{vm.timespan.exit | date:"HH:mm"}}

					</div>
					<div class="date"
						 ng-click="vm.editExitDate()">
						{{vm.moment(vm.timespan.exit).format('dddd Do')}}<br/>
						{{vm.timespan.exit | date : 'MMM yyyy'}}
					</div>

				</div>
			</div>
		</div>


		<div class="item item-divider">
			Notes
		</div>
		<div class="padding">
			<textarea placeholder="Notes"
					  ng-model="vm.timespan.notes"
					  rows="6"></textarea>
		</div>

	</ion-content>
</ion-view>