/*


	Rota-New Module Styling


*/
.rota-edit {
	.item .icon {
		color: #ccc;
	}
}

.modal-select {
	ul.list li.item {
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	.search-prompt {
		color: #ccc;
	}

}
