<ion-view>
	<ion-nav-title ng-click="vm.change()">
		<i class="icon ion-arrow-swap"></i>
		{{vm.rota.label}}
	</ion-nav-title>

	<ion-content>
		<!-- Rota Settings -->
		<div class="card">
			<div class="item item-divider">
				{{vm.rota.label}} Rota Settings
			</div>
			<div class="item">
				<div class="row">
					<div class="col">
						<a class="button button-stable button-block button-outline"
						   ui-sref="app.edit({rotaId: vm.rota.getKey()})">
							Edit Settings
						</a>
					</div>
					<div class="col">
						<a class="button button-subtle button-block button-outline"
						   ui-sref="app.view.events({rotaId: vm.rota.getKey()})">
							View Event Log
						</a>
					</div>
				</div>


			</div>
		</div>

		<!-- Account Settings -->
		<div class="card">
			<div class="item item-divider">
				App Settings
			</div>
			<div class="item text-wrap">
				<a class="button button-stable button-block button-outline"
				   ng-click="vm.settings()">
					Open App Settings
				</a>
			</div>
		</div>


	</ion-content>
</ion-view>